<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
    <!-- ComServ Africa POS System Configuration -->
    <appSettings>
        <!-- Database Configuration -->
        <add key="DatabaseName" value="ComServPOS.accdb"/>
        <add key="DatabaseProvider" value="Microsoft.ACE.OLEDB.12.0"/>
        
        <!-- Company Information -->
        <add key="CompanyName" value="ComServ Africa PBC"/>
        <add key="CompanyTradingName" value="T/A Compass Services Africa"/>
        <add key="CompanyTIN" value="2001429560"/>
        <add key="CompanyPRAZ" value="PR71894435240"/>
        <add key="CompanyAddress" value="A16 1st Floor, Thompson House, 130 Harare Street Corner Speke"/>
        <add key="CompanyPhone" value="0771058311"/>
        <add key="CompanyEmail" value="sales@comservafrica.co.zw"/>
        <add key="CompanyWebsite" value="www.comservafrica.co.zw"/>
        <add key="CompanyMotto" value="Pointing Africa towards the Future"/>
        
        <!-- Financial Settings -->
        <add key="TaxRate" value="0.15"/>
        <add key="ReturnHandlingFee" value="0.10"/>
        <add key="WarrantyPeriodMonths" value="6"/>
        <add key="QuotationValidityDays" value="30"/>
        <add key="PriceValidityDays" value="30"/>
        
        <!-- Currency -->
        <add key="Currency" value="ZWL"/>
        <add key="CurrencySymbol" value="ZWL"/>
        
        <!-- Application Settings -->
        <add key="ApplicationName" value="ComServ Africa POS"/>
        <add key="ApplicationVersion" value="1.0.0"/>
        <add key="ApplicationBuild" value="20260603"/>
        <add key="LogLevel" value="Info"/>
        <add key="EnableDetailedLogging" value="false"/>
        
        <!-- UI Settings -->
        <add key="Theme" value="Modern"/>
        <add key="Language" value="English"/>
        <add key="DateFormat" value="dd/MM/yyyy"/>
        <add key="TimeFormat" value="HH:mm:ss"/>
        
        <!-- Security Settings -->
        <add key="PasswordMinLength" value="6"/>
        <add key="SessionTimeout" value="30"/>
        <add key="MaxLoginAttempts" value="3"/>
        <add key="LockoutDuration" value="15"/>
    </appSettings>
</configuration>
